.wrapper {
    display: grid;
    grid-template-areas:
    "c h";
    grid-template-columns: 0.5fr 9.5fr;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkbox {
    grid-area: c;
    padding: 1px;
    margin-top: 50px;
}